
[submodule "SharedModules"]
	path = dependencies/SharedModules
	url = https://github.com/yuliskov/SharedModules
    ignore = all

[submodule "MediaServiceCore"]
	path = dependencies/MediaServiceCore
	url = https://github.com/yuliskov/MediaServiceCore
    ignore = all
