
# Local configuration
local.properties

# OS Files
Thumbs.db
.DS_Store

# Build Cache
.gradle
**/build/
src/main/assets/yt.solver.js
lib/aar/*
!lib/aar/smarttubetv.aar
!lib/aar/exoplayer-**.aar

# Build Logs
*.log

# Markdown
/*.md
!ReadMe.md

# IDE
.idea
**/.project
**/.classpath
**/.settings/
/src/main/jniLibs
