
# Local configuration
local.properties

# OS Files
Thumbs.db
.DS_Store

# Build Cache
.gradle
**/build/
aar
google-services.json
src/main/assets

# Build Logs
*.log

# Markdown
/*.md
!ReadMe.md

# IDE
.idea
**/.project
**/.classpath
**/.settings/
/src/main/jniLibs
