[submodule "lib/sdk"]
	path = lib/sdk
	url = https://github.com/MineFartS/Android-SDK
    ignore = all

[submodule "lib/jdk17"]
	path = lib/jdk17
	url = https://github.com/MineFartS/JDK
	branch = 17
    ignore = all

[submodule "lib/pidcat"]
	path = lib/pidcat
	url = https://github.com/MineFartS/pidcat
    ignore = all

[submodule "lib/py314"]
	path = lib/py314
	url = https://github.com/MineFartS/Python-Embed.git
    branch = 3.14.5
    ignore = all

[submodule "lib/yuliskov"]
	path = lib/yuliskov
	url = https://github.com/yuliskov/SmartTube
    ignore = all

[submodule "lib/ejs"]
	path = lib/ejs
	url = https://github.com/yt-dlp/ejs
    ignore = all
