<?xml version="1.0" encoding="utf-8"?>


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.android.exoplayer2.ext.vp9.test">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-sdk/>

  <application
      android:allowBackup="false"
      tools:ignore="MissingApplicationIcon,HardcodedDebugMode">
    <uses-library android:name="android.test.runner"/>
  </application>

  <instrumentation
      android:targetPackage="com.google.android.exoplayer2.ext.vp9.test"
      android:name="androidx.test.runner.AndroidJUnitRunner"/>

</manifest>
