<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="SmartTubeApp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <queries>
        <package android:name="com.google.android.youtube.tv" />
        <package android:name="com.amazon.firetv.youtube" />
    </queries>

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>
     
    <uses-sdk tools:overrideLibrary="
        org.xwalk.core,
        com.algolia.instantsearch.voice,
        androidx.leanback,
        androidx.tvprovider,
        com.github.rubensousa.previewseekbar,
        com.github.rubensousa.previewseekbar.exoplayer,
        androidx.recommendation"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name="SmartTubeApp.ui.main.MainApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:banner="@mipmap/app_banner"
        android:logo="@mipmap/app_logo"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/App.Theme.Leanback.Browse"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        tools:node="merge"
        tools:replace="android:theme,android:allowBackup"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity,UnusedAttribute,MissingTvBanner">

        
        <activity
            android:name=".search.SearchableActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        
        <receiver
            android:name="SmartTubeApp.misc.RemoteControlReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <!-- For HTC devices -->
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <!-- Fix: Permission Denial: not allowed to send broadcast android.intent.action.BOOT_COMPLETED -->
                <action android:name="android.intent.action.ACTION_BOOT_COMPLETED" />
                <!-- Autostart fix on some devices? -->
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />

            </intent-filter>
        </receiver>
        <service
            android:name="SmartTubeApp.misc.RemoteControlService"
            android:enabled="true"
            android:foregroundServiceType="connectedDevice"/>

        <activity
            android:name="SmartTubeApp.ui.main.SplashActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <!-- Process intents from other apps -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="youtube.com"/>
                <data android:host="www.youtube.com"/>
                <data android:host="m.youtube.com"/>
                <data android:host="youtu.be"/>
                <data android:pathPattern=".*"/>
                <data android:host="search" android:scheme="youtube"/>
                <data android:host="play" android:scheme="youtube"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="vnd.youtube"/>
                <data android:scheme="vnd.youtube.launch"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <!-- noHistory is essential for dialogs. Because otherwise you'll see previous dialog content when opening. -->
        <!-- behind is important too. This fix crashes on Android 8 (api 26) and above. -->
        <!-- More info about behind: https://stackoverflow.com/a/52426009/1279056 -->
        <activity android:name="SmartTubeApp.ui.dialogs.AppDialogActivity"
                  android:noHistory="true"
                  android:excludeFromRecents="true"
                  android:launchMode="singleInstance"
                  android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
                  android:screenOrientation="behind"
                  android:theme="@style/App.Theme.Leanback.Preferences"/>

        <activity
            android:name="SmartTubeApp.ui.browse.BrowseActivity"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:screenOrientation="unspecified"/>

        <activity
            android:name="SmartTubeApp.ui.channel.ChannelActivity"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:screenOrientation="unspecified"/>

        <activity
            android:name="SmartTubeApp.ui.channeluploads.ChannelUploadsActivity"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:screenOrientation="unspecified"/>

        <!-- Remove to fix Sony wake up bug? android:turnScreenOn="true" -->

        <activity
            android:name="SmartTubeApp.ui.playback.PlaybackActivity"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:showWhenLocked="true"
            android:theme="@style/App.Theme.Leanback.Player"/>

        <activity
            android:name="SmartTubeApp.ui.search.tags.SearchTagsActivity"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:screenOrientation="unspecified"/>

        <activity android:name="SmartTubeApp.ui.signin.SignInActivity"
                  android:launchMode="singleInstance"
                  android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
                  android:screenOrientation="unspecified"
                  android:theme="@style/App.Theme.Leanback.GuidedStep"/>

        <activity android:name="SmartTubeApp.ui.adddevice.AddDeviceActivity"
                  android:launchMode="singleInstance"
                  android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
                  android:screenOrientation="unspecified"
                  android:theme="@style/App.Theme.Leanback.GuidedStep"/>

        <!-- BEGIN Launchers (used inside tvQuickActions. Don't rename them or move!) -->

        <activity
            android:name="SmartTubeApp.launchers.HomeLauncherActivity"
            android:logo="@drawable/icon_home"
            android:icon="@drawable/icon_home"
            android:label="@string/header_home"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:screenOrientation="unspecified"/>

        <activity
            android:name="SmartTubeApp.launchers.ChannelsLauncherActivity"
            android:logo="@drawable/icon_channels"
            android:icon="@drawable/icon_channels"
            android:label="@string/header_channels"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:screenOrientation="unspecified"/>

        <activity
            android:name="SmartTubeApp.launchers.SubscriptionsLauncherActivity"
            android:logo="@drawable/icon_subscriptions"
            android:icon="@drawable/icon_subscriptions"
            android:label="@string/header_subscriptions"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:screenOrientation="unspecified"/>

        <activity
            android:name="SmartTubeApp.launchers.HistoryLauncherActivity"
            android:logo="@drawable/icon_history"
            android:icon="@drawable/icon_history"
            android:label="@string/header_history"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:screenOrientation="unspecified"/>

        <activity
            android:name="SmartTubeApp.launchers.PlaylistsLauncherActivity"
            android:logo="@drawable/icon_playlist"
            android:icon="@drawable/icon_playlist"
            android:label="@string/header_playlists"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:screenOrientation="unspecified"/>

        <!-- END Launchers -->
    </application>

</manifest>