<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="minefarts.sharedutils">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.usb.host" />
    
    <queries>
        <package android:name="com.amazon.tv.leanbacklauncher" />
        <package android:name="com.google.android.leanbacklauncher" />
        <package android:name="com.google.android.tvlauncher" />
        <package android:name="com.google.android.apps.tv.launcherx" />
    </queries>

</manifest>
